*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 58px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo img{
    width: 40px;
}
.logo{
    padding: 0 13px;
}

.container{
    width: 58vw;
    padding: 32px 0;
    margin: auto;
    font-family: 'Poppins', sans-serif;;
    font-weight: bold;
}
.copy-to-clipboard-button{
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
}